h3 {
    color: #fff;
    margin: 6px;
  }
  html, body{
      height: 100%;
      width: 100%;
  }
  .flex-container {
    display: flex;
    height: 100%;
    padding: 5px;
  }
  
  .pinkBox {
    background-color: #bc658d;
    box-sizing: border-box;
    border: solid 10px white;
    padding: 10px;
  }

.ABCDE{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.F{
    width: 20%;
}
.GH{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.G{
    height: 90%;
}
.H{
    height: 10%;
}
.AB{
    height: 40%;
    display: flex;
}
.CDE{
    height: 60%;
    display: flex;
}
.A{
    width: 40%;
}
.B{
    width: 60%;
}
.CD{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.E{
    width: 30%;
}
.C, .D{
    height: 50%;
}

@media screen and (max-width: 620px) {
    .flex-container{
        flex-direction: column;
    }
    .ABCDE{
        width: 100%;
        flex: 4;
    }
    .F, .GH{
        width: 100%;
        flex: 1;
    }
}